<footer class="footer bg-dark py-3 mt-auto h-56">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <span class="text-white">YelpCamp 2022</span>
        <span class="text-white">All Rights Reserved &copy; Karim Ali</span>
    </div>
</footer>